Babel==2.9.1
beautifulsoup4==4.10.0
cairocffi==1.3.0
CairoSVG==2.5.2
cffi==1.15.0
Click==8.0.3
cssselect2==0.4.1
defusedxml==0.7.1
gitdb2==4.0.2
GitPython==3.1.35
html5lib==1.1
htmlmin==0.1.12
Jinja2==3.0.3
jsmin==3.0.0
livereload==2.6.3
Markdown==3.3.6
MarkupSafe==2.0.1
mkdocs==1.2.3
mkdocs-awesome-pages-plugin==2.6.1
mkdocs-drawio-exporter==0.8.0
mkdocs-git-revision-date-localized-plugin==0.11.1
mkdocs-material==8.1.3
mkdocs-minify-plugin==0.5.0
mkdocs-pdf-export-plugin==0.5.10
mkdocs-toc-sidebar-plugin==0.1.0
pep562==1.1
Pillow==9.3.0
pycparser==2.21
Pygments==2.15.0
pymdown-extensions==9.1
Pyphen==0.11.0
pytz==2021.3
PyYAML==6.0
six==1.16.0
smmap2==3.0.1
soupsieve==2.3.1
tinycss2==1.1.1
tornado==6.3.3
WeasyPrint==53.4
webencodings==0.5.1
